body{
    background-color: #e1f5fe;
    cursor: pointer;
}

/* Ensure the right-side div is fixed in size and scrollable */
.scrollable-div {
    background-color: transparent;
    margin-top: 2%;
    height: 50vh; /* Adjust the height as needed */
    overflow-y: auto; /* Add vertical scrollbar if content overflows */
    border: 1px solid #ddd; /* Optional border for visibility */
    padding: 0px; /* Optional padding */
}

/* Style for text boxes */
.text-box {
    background-color: transparent;
    color: #01579b;
    border: 1px solid #ddd;
    border-radius: 4px;
    margin-bottom: 1%; /* Space between text boxes */
    padding: 1px;
}
.text-box:hover{
    background-color: #03a9f4;
    color:#e1f5fe;
}

.video-container {
    position: relative;
    width: 100%;
    padding-bottom: 62.50%; /* 16:9 Aspect Ratio */
    height: 0;
    overflow: hidden;
  }
  .video-container iframe,
  .video-container object,
  .video-container embed {
    position: absolute;
    top: 0;
    left: 5%;
    width: 90%;
    height: 90%;
  }
