a{
    text-decoration: none;
}
.ball{
    
    height: 50px;
    width: 50px;
    background-image: url('asset/ballv2-192x192.png');
    background-size: cover;
    
}
.fi{
    width: 46px;
    height: 30px;
}
.video-container {
  position: relative; /* Required for absolute positioning of the iframe */
  width: 90%; /* Set the desired width */
  padding-top: 62.5%; /* 4:3 Aspect Ratio (3 / 4 = 0.75 or 75%) */
  margin: 0 auto; /* Center the container horizontally */
  overflow: hidden; /* Hide anything outside the container */
}

/* Style for the iframe */
.video-container iframe {
  position: absolute; /* Position the iframe absolutely within the container */
  top: 0;
  left: 0;
  width: 100%; /* Make iframe fill the container */
  height: 100%; /* Make iframe fill the container */
}
